NEXT_PUBLIC_SUPABASE_URL=https://rzwivduoyummuwhhehjj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6d2l2ZHVveXVtbXV3aGhlaGpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3MzA2MjAsImV4cCI6MjEwMTMwNjYyMH0.L7U9VOaVHH7sdXECMXEm9ZkdL2ilwyONNkPeX9GBTEg
